/* You can add global styles to this file, and also import other style files */
.global-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px; /* Ajuste opcional de padding horizontal */
  }